html,
body {
    scroll-behavior: smooth;
    scroll-padding: 7vh;
    overflow-x: hidden;
}

#nav-logo {
    width: 90px !important;
    height: 80px !important;
}

nav {
    opacity: 95%;
    transition: box-shadow 500ms linear;
    transition: background 500ms linear;
}

.navbar-burger {
    margin-top: auto;
    margin-bottom: auto;
}

.hero {
    background: linear-gradient(360deg, rgba(57, 57, 57, 0.5), rgba(57, 57, 57, 0.5)),
        url('../img/background.jpg') no-repeat fixed top center;
}

.title {
    margin-top: 16px;
}

.has-background-transparent {
    background: transparent !important;
}

#ourCrew img {
    height: 450px;
}

#findUs,
#hours {
    line-height: 30px;
}

@media only screen and (max-width: 1500px) {
    #logo {
        width: 382px;
        height: 385px;
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 260px;
        height: 267px;
        margin-top: -75px;
    }

    .title {
        margin-top: 36px;
    }

    iframe {
        height: 75vw;
    }
}
